/* Default values */
:root {
  --container-background-light: white; /* Light mode container background color */
  --container-background-dark: #333; /* Dark mode container background color */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .registration-container {
    background-color: var(--container-background-dark); /* Set dark mode container background color */
    color: white; /* Set dark mode text color */
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  .registration-container {
    background-color: var(--container-background-light); /* Set light mode container background color */
    color: black; /* Set light mode text color */
  }
}

.registration-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Common border shadow */
}

.registration-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.registration-container form {
  display: flex;
  flex-direction: column;
}

.registration-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: inherit; /* Inherit text color */
  background-color: inherit; /* Inherit background color */
}

.registration-container input::placeholder {
  color: #999; /* Set placeholder text color to light gray */
}

.registration-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center; /* Center the button horizontally */
}

.registration-container button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 15px;
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
  .registration-container {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .registration-container {
    padding: 10px;
  }

  .registration-container h2 {
    font-size: 20px;
  }

  .registration-container input,
  .registration-container button {
    padding: 8px;
    margin-bottom: 10px;
  }
}
